.ui-Card {
  padding: .5em;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.25;
  background-color: white;
  transition: box-shadow 0.3s;
  zoom: 1;
  overflow: hidden;
  box-sizing: border-box; }
  .ui-Card:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }
  .ui-Card__title {
    font-family: serif;
    margin-top: .5em;
    margin-bottom: .5em;
    text-transform: capitalize;
    line-height: 1.1;
    overflow: hidden; }
    .ui-Card__title_king {
      font-size: 3.5em; }
    .ui-Card__title_queen {
      font-size: 2.25em; }
    .ui-Card__title_jack {
      font-size: 1.5em; }
  .ui-Card__authorInfo {
    display: flex;
    margin-bottom: .75em;
    zoom: 1;
    overflow: hidden; }
  .ui-Card__cover {
    width: 100%;
    padding-top: 56.25%;
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .ui-Card__body_king {
    font-size: 1.3125em; }
  .ui-Card__body_queen {
    font-size: 1.125em; }
  .ui-Card__body_jack {
    font-size: 1em; }
  .ui-Card_I .ui-Card__coverWrap {
    width: 50%; }
    .ui-Card_I .ui-Card__coverWrap_left {
      float: left;
      margin-right: 1em; }
    .ui-Card_I .ui-Card__coverWrap_right {
      float: right;
      margin-left: 1em; }
  .ui-Card_I .ui-Card__title {
    margin-top: .25em; }
  .ui-Card_II .ui-Card__title {
    margin-top: .25em; }
  .ui-Card_II .ui-Card__coverWrap {
    width: 45%; }
    .ui-Card_II .ui-Card__coverWrap_left {
      float: left;
      margin-right: .5em; }
    .ui-Card_II .ui-Card__coverWrap_right {
      float: right;
      margin-left: .5em; }
  .ui-Card_III .ui-Card__body {
    margin-top: .5em; }
  .ui-Card_IV {
    display: flex; }
    .ui-Card_IV .ui-Card__coverWrap {
      flex-basis: 62.5%; }
    .ui-Card_IV .ui-Card__content {
      flex-basis: 37.5%;
      padding-left: 1.5em;
      box-sizing: border-box; }
  .ui-Card_V {
    position: relative;
    padding-bottom: .75em;
    color: white;
    text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.2); }
    .ui-Card_V .ui-Card__title {
      margin-top: 0; }
    .ui-Card_V .ui-Card__coverWrap {
      width: 100%; }
    .ui-Card_V .ui-Card__cover {
      background-color: #bbbbbb; }
    .ui-Card_V .ui-Card__content {
      padding: 2em;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      box-sizing: border-box; }
  .ui-Card_VI {
    padding: .7em; }
    .ui-Card_VI .ui-Card__content {
      display: flex; }

.ui-FeedTemplate .ui-Card {
  margin-bottom: 0.625em; }
  .ui-FeedTemplate .ui-Card:last-of-type {
    margin-bottom: 0; }
  .ui-FeedTemplate .ui-Card:hover {
    position: relative;
    z-index: 1; }

.ui-FeedTemplate_I {
  display: flex;
  margin-left: -1.125em;
  margin-right: -1.125em; }
  .ui-FeedTemplate_I .ui-FeedTemplate__Col1, .ui-FeedTemplate_I .ui-FeedTemplate__Col2, .ui-FeedTemplate_I .ui-FeedTemplate__Col3 {
    padding-left: 0.625em;
    padding-right: 0.625em;
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 0; }
  .ui-FeedTemplate_I .ui-FeedTemplate__Col1 {
    flex-basis: 33.33333%; }
  .ui-FeedTemplate_I .ui-FeedTemplate__Col2 {
    flex-basis: 41.66667%; }
  .ui-FeedTemplate_I .ui-FeedTemplate__Col3 {
    flex-basis: 25%; }

.ui-FeedTemplate_III {
  display: flex;
  margin-left: -1.125em;
  margin-right: -1.125em; }
  .ui-FeedTemplate_III .ui-FeedTemplate__Col1, .ui-FeedTemplate_III .ui-FeedTemplate__Col2 {
    padding-left: 0.625em;
    padding-right: 0.625em;
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 0; }
  .ui-FeedTemplate_III .ui-FeedTemplate__Col1 {
    flex-basis: 66.66667%; }
  .ui-FeedTemplate_III .ui-FeedTemplate__Col2 {
    flex-basis: 33.33333%; }

.ui-FeedTemplate_V {
  margin-left: -0.625em;
  margin-right: -0.625em; }
  .ui-FeedTemplate_V .ui-FeedTemplate__Row {
    display: flex;
    flex-wrap: wrap; }
  .ui-FeedTemplate_V .ui-FeedTemplate__item {
    margin-bottom: 1.5em;
    flex-basis: 33.33333%; }
  .ui-FeedTemplate_V .ui-Card {
    height: 100%; }

.ui-FeedTemplate_VII {
  display: flex;
  margin-left: -1.125em;
  margin-right: -1.125em; }
  .ui-FeedTemplate_VII .ui-Card {
    height: 100%; }
  .ui-FeedTemplate_VII .ui-FeedTemplate__Col1, .ui-FeedTemplate_VII .ui-FeedTemplate__Col2 {
    padding-left: 0.625em;
    padding-right: 0.625em;
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 0;
    flex-basis: 50%; }
  .ui-FeedTemplate_VII .ui-FeedTemplate__Col2 .ui-FeedTemplate__Row {
    margin-left: -0.625em;
    margin-right: -0.625em;
    display: flex;
    flex-wrap: wrap; }
  .ui-FeedTemplate_VII .ui-FeedTemplate__Col2 .ui-FeedTemplate__item {
    flex-basis: 50%;
    padding-left: 0.625em;
    padding-right: 0.625em;
    box-sizing: border-box; }

.ui-FeedTemplate_VIII {
  margin-left: -0.625em;
  margin-right: -0.625em; }
  .ui-FeedTemplate_VIII .ui-FeedTemplate__Row {
    display: flex;
    flex-wrap: wrap; }
  .ui-FeedTemplate_VIII .ui-FeedTemplate__item {
    flex-basis: 25%;
    padding-left: 0.125em;
    padding-right: 0.125em;
    box-sizing: border-box;
    margin-bottom: .5em; }
  .ui-FeedTemplate_VIII .ui-Card {
    height: 100%; }

.ui-FeedTemplate_IX {
  display: flex;
  margin-left: -1.125em;
  margin-right: -1.125em; }
  .ui-FeedTemplate_IX .ui-FeedTemplate__Col1, .ui-FeedTemplate_IX .ui-FeedTemplate__Col2 {
    padding-left: 0.625em;
    padding-right: 0.625em;
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 0; }
  .ui-FeedTemplate_IX .ui-FeedTemplate__Col1 {
    flex-basis: 58.33333%;
    display: flex;
    flex-direction: column; }
  .ui-FeedTemplate_IX .ui-FeedTemplate__Col2 {
    flex-basis: 41.66667%; }

.ui-FeedTemplate_X {
  display: flex;
  margin-left: -1.125em;
  margin-right: -1.125em; }
  .ui-FeedTemplate_X .ui-FeedTemplate__Col1, .ui-FeedTemplate_X .ui-FeedTemplate__Col2, .ui-FeedTemplate_X .ui-FeedTemplate__Col3 {
    padding-left: 0.625em;
    padding-right: 0.625em;
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 0;
    flex-basis: 33.33333%; }
  .ui-FeedTemplate_X .ui-FeedTemplate__Col1 .ui-Card {
    height: 100%; }
  .ui-FeedTemplate_X .ui-FeedTemplate__Col2 .ui-Card {
    height: 100%; }

.ui-FeedTemplate_XI {
  margin-left: -.5em;
  margin-right: -.5em; }
  .ui-FeedTemplate_XI .ui-FeedTemplate__Row {
    display: flex;
    flex-wrap: wrap; }
  .ui-FeedTemplate_XI .ui-FeedTemplate__item {
    flex-grow: 0;
    flex-basis: 50%;
    min-width: 0;
    flex-shrink: 0;
    margin-bottom: px-to-rem(24); }
  .ui-FeedTemplate_XI .ui-Card {
    height: 100%; }
    .ui-FeedTemplate_XI .ui-Card_V .ui-Card__cover {
      padding-top: 33.33333%; }

.ui-FeedTemplate_XII {
  display: flex;
  margin-left: -0.625em;
  margin-right: -0.625em; }
  .ui-FeedTemplate_XII .ui-FeedTemplate__Col1, .ui-FeedTemplate_XII .ui-FeedTemplate__Col2 {
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 0;
    flex-basis: 50%; }
  .ui-FeedTemplate_XII .ui-FeedTemplate__Col1 {
    padding-right: 0.3125em; }
  .ui-FeedTemplate_XII .ui-FeedTemplate__Col2 {
    padding-left: 0.3125em; }
  .ui-FeedTemplate_XII .ui-Card_V .ui-Card__cover {
    padding-top: 75%; }

.ui-FeedTemplate_XIII {
  margin-left: -0.625em;
  margin-right: -0.625em; }
